@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rajdhani:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rajdhani", sans-serif;
  background: #0a0a0a;
  color: #fff;
  padding: 40px;
  min-height: 100vh;
}

/* Title */

h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #ff3b00;
  margin-bottom: 40px;
  text-shadow: 4px 4px 0 #000;
}

/* Inputs */

input {
  display: block;
  width: 100%;
  max-width: 650px;
  margin: 15px auto;
  padding: 16px;
  background: #161616;
  color: white;
  border: 2px solid #303030;
  outline: none;
  font-size: 18px;
  transition: 0.25s;
}

input::placeholder {
  color: #888;
}

input:focus {
  border-color: #ff3b00;
}

/* Button */

#addBtn {
  display: block;

  margin: 30px auto 50px;

  padding: 16px 55px;

  background: #ff3b00;

  color: white;

  border: none;

  cursor: pointer;

  font-size: 18px;

  font-weight: bold;

  letter-spacing: 2px;

  transition: 0.3s;
}

#addBtn:hover {
  background: #ff6a00;

  transform: translateY(-3px);
}

/* Grid */

#rslt {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;
}

/* Cards */

.game-card {
  background: #161616;

  border: 2px solid #242424;

  transition: 0.3s;

  overflow: hidden;
}

.game-card:hover {
  transform: translateY(-10px);

  border-color: #ff3b00;

  box-shadow: 0 0 25px rgba(255, 59, 0, 0.35);
}

/* Images */

.game-card img {
  width: 100%;

  height: 360px;

  object-fit: cover;

  display: block;
}

/* Info */

.game-info {
  padding: 20px;
}

.game-info h2 {
  font-family: "Oswald";

  font-size: 34px;

  color: #fff;

  text-transform: uppercase;

  margin-bottom: 8px;
}

.game-info p {
  color: #bbbbbb;

  font-size: 18px;

  margin-bottom: 20px;
}

/* Play Button */

.play-btn {
  width: 100%;

  padding: 15px;

  border: none;

  background: #ff3b00;

  color: white;

  font-size: 18px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;

  letter-spacing: 2px;
}

.play-btn:hover {
  background: #ff6a00;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff3b00;
}

::-webkit-scrollbar-track {
  background: #111;
}

/* Mobile */

@media (max-width: 700px) {
  body {
    padding: 20px;
  }

  h1 {
    font-size: 38px;
  }
}
body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.92)),
    url("https://images.unsplash.com/photo-1511512578047-dfb367046420?q=80&w=1600&auto=format&fit=crop");
  background-size: cover;
  background-attachment: fixed;
}
.game-card{
    overflow:hidden;
}

.game-card img{
    width:100%;
    aspect-ratio:2/3;
    object-fit:cover;
    object-position:center;
    display:block;
}



